.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto Regular";
    -fx-background-color: #34495e;
    -fx-text-fill: #ffffff;
}

.label{
	-fx-font-size: 25pt;
	-fx-font-family: "Roboto Regular";
	-fx-background-color: #34495e;
	-fx-text-fill: #ffffff
}